 NET "inValue(0)"  LOC=G18;
 NET "inValue(1)"  LOC=H18;
 NET "inValue(2)"  LOC=K18;
 NET "inValue(3)"  LOC=K17;
 NET "inValue(4)"  LOC=L14;
 NET "inValue(5)"  LOC=L13;
 NET "inValue(6)"  LOC=N17;
 NET "inValue(7)"  LOC=R17;
 NET "clkEnable"   LOC=H13;
 NET "upDown_n"    LOC=E18;
 NET "reset"       LOC=D18;
 NET "load_n"      LOC=B18;
 NET "clk"         LOC=B8;
 NET "outValue(0)" LOC=L18;
 NET "outValue(1)" LOC=F18;
 NET "outValue(2)" LOC=D17;
 NET "outValue(3)" LOC=D16;
 NET "outValue(4)" LOC=G14;
 NET "outValue(5)" LOC=J17;
 NET "outValue(6)" LOC=H14;
 NET "nOutValue(0)" LOC=F15;
 NET "nOutValue(1)" LOC=C18;
 