//! **************************************************************************
// Written by: Map M.81d on Mon Feb 28 14:07:20 2011
//! **************************************************************************

SCHEMATIC START;
COMP "outValue<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "upDown_n" LOCATE = SITE "E18" LEVEL 1;
COMP "inValue<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "inValue<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "inValue<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "outValue<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "inValue<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "inValue<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "outValue<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "inValue<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "inValue<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "inValue<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "outValue<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "load_n" LOCATE = SITE "B18" LEVEL 1;
COMP "clkEnable" LOCATE = SITE "H13" LEVEL 1;
COMP "outValue<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "outValue<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "nOutValue<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "nOutValue<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "reset" LOCATE = SITE "D18" LEVEL 1;
COMP "outValue<5>" LOCATE = SITE "J17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

